<h1>Editing Offer</h1>

<%= render 'form', offer: @offer %>

<%= link_to 'Show', admin_offer_path(@offer), class: 'btn btn-success'%>
<%= link_to 'Back', admin_offers_path, class: 'btn btn-success' %>
